= render "shops/header"
.signup-box
  %h2.signup-box__title
    Gutty
  %h4.signup-box__title2
    新規会員登録
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :nickname
      %br/
      = f.text_field :nickname, class: "box", autofocus: true, autocomplete: "nickname",placeholder: "ニックネームを入力" 
    .field
      = f.label :email
      %br/
      = f.email_field :email, class: "box", autofocus: true, autocomplete: "email", placeholder: "メールアドレスを入力"
    .field
      = f.label :password
      %br/
      = f.password_field :password, class: "box", autocomplete: "new-password", placeholder: "パスワードを入力"
    .field
      = f.label "password confirmation"
      %br/
      = f.password_field :password_confirmation, class: "box", autocomplete: "new-password", placeholder: "パスワードを入力（確認）"
    .field1
      = f.submit "登録する",class: "btn"
= render "shops/footer"
