=link_to shop_path(shop.id),class: "shop-box col-4 rounded" do
  .shop-box__title
    = shop.title
  = image_tag shop.images[0].url, class: "shop-box__image"
  .shop-box__text
    = shop.text
  .star-box
    - if shop.reviews.present?
      .star-rating
        .star-rating-item{style:"width: #{number_to_percentage(shop.reviews.average(:rate).round*20)}"}
      = "#{number_with_precision(shop.reviews.average(:rate), precision:2, significant: true)}"
    - else
      .star-rating
        .star-rating-item{style:"width: 0%"}
      = 0.0