.thumbnail
  %ui
    = image_tag 'top1.jpg', width: "450vw", height: "350vh" 
  %ui
    = image_tag 'top2.jpg', width: "450vw", height: "350vh"
  %ui
    = image_tag 'top3.jpg', width: "450vw", height: "350vh"
  %ui
    = image_tag 'top4.jpg', width: "450vw", height: "350vh"
  %ui
    = image_tag 'top5.jpg', width: "450vw", height: "350vh"
  %ui
    = image_tag 'top6.jpg', width: "450vw", height: "350vh"
.content
  .content__box.row
    .content__box__left.col-xl-8.row
      %h1.content__box__top.col-xl-12
        店舗紹介
      = render @shops
    .content__z.col-xl-1
    .content__box__right.col-xl-3
      = render 'side-bar'
    %p#pageTop.content__box__low.col-xl-12
      top page