.show-header
  = render 'header'

.content
  .content__box.row
    .content__box__left.col-8
      .show-box.rounded
        .top
          .show-box__title
            = @shop.title
          .show-box__img
            - @shop.images.each do |image|
              = image_tag image.url, class: "show-box__img1"
          .show-box__text
            = @shop.text
          .show-box__time
            = "営業時間： #{@shop.business_hours}"
          .show-box__holiday
            = "定休日： #{@shop.regular_holiday}"
          .show-box__phone
            = "電話番号：#{@shop.phone_number}"
          .show-box__address
            = "住所： #{@shop.address}"
          .stars-box
            .stars-rating
              .stars-rating-item{style:"width:100%;"}
        = link_to  new_shop_review_path(@shop.id),class: "show-box__link" do
          .show-box__link
            このお店を投稿する
        .show-box__title1
          みんなのレビュー
        .show-box__coment
          .show-box__coment__name
            aaaaaaaa
          .show-box__coment__text
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          .stars-box
            .stars-rating
              .stars-rating-item{style:"width:20%;"}
        .show-box__coment
          .show-box__coment__name
            aaaaaaaa
          .show-box__coment__text
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          .stars-box
            .stars-rating
              .stars-rating-item{style:"width:50%;"}
        .show-box__coment
          .show-box__coment__name
            aaaaaaaa
          .show-box__coment__text
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          .stars-box
            .stars-rating
              .stars-rating-item{style:"width:80%;"}
          
        
    .content__z.col-1
    .content__box__right.col-3
      = render 'side-bar'
    .content__box__low.col-12
      top page
.show-footer
  = render 'footer'