.show-header
  = render 'header'

.content
  .content__box.row
    .content__box__left.col-8
      .show-box.rounded
        .top
          .show-box__title
            なるとや
          .show-box__img
            = image_tag('247939.jpg', class: "show-box__img1")
            = image_tag('247939.jpg', class: "show-box__img2")
            = image_tag('247939.jpg', class: "show-box__img3")
            = image_tag('247939.jpg', class: "show-box__img4")
          .show-box__text
            名古屋で１番の塩ラーメンのお店
          .show-box__time
            営業時間：　[月~金・土] ランチ: 11:30〜14:00 ディナー: 18:00〜25:00
          .show-box__holiday
            定休日：　毎週日曜日
          .show-box__phone
            電話番号：　052-241-0511
          .show-box__address
            住所：　愛知県名古屋市中区栄４-７-１３ 木村ビルディング １F
          .stars-box
            .stars-rating
              .stars-rating-item{style:"width:100%;"}
        .show-box__title1
          みんなのレビュー
        .show-box__coment
          .show-box__coment__name
            aaaaaaaa
          .show-box__coment__text
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          .stars-box
            .stars-rating
              .stars-rating-item{style:"width:20%;"}
        .show-box__coment
          .show-box__coment__name
            aaaaaaaa
          .show-box__coment__text
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          .stars-box
            .stars-rating
              .stars-rating-item{style:"width:50%;"}
        .show-box__coment
          .show-box__coment__name
            aaaaaaaa
          .show-box__coment__text
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
          .stars-box
            .stars-rating
              .stars-rating-item{style:"width:80%;"}
          
        
    .content__z.col-1
    .content__box__right.col-3
      = render 'side-bar'
    .content__box__low.col-12
      top page
.show-footer
  = render 'footer'