= render 'shops/header'
.content
  .content__box.row
    .content__box__left.col-8
      .user-box
        .user-box__top
          = current_user.nickname
          %span
            さんの投稿
        .user-box__contnet
          - current_user.reviews.each do |review| 
            .u-box
              .u-box__title
                = review.shop.title
              .u-box__contnet
                = image_tag review.shop.images[0].url, class: "u-box__contnet__img"
                .u-box__contnet__review
                  = review.review
              .stars-box
                .stars-rating
                  .stars-rating-item{style:"width: #{number_to_percentage(review.rate*20)}"}
                %button.u-btn1
                  = link_to edit_review_path(review.id), method: :get do
                    編集する
                %button.u-btn2
                  = link_to review_path(review.id),method: :delete do
                    削除する
    .content__z.col-1
    .content__box__right.col-3
      = render 'shops/side-bar'
    .content__box__low.col-12
      top page
= render 'shops/footer'