= render 'shops/header'
.content
  .content__box.row
    .content__box__left.col-8
      = form_for @review,:url => {:action => :create} do |f|
        .review-box
          .review-box__title
            投稿
          .review-box__shop
            = image_tag @shop.images[0].url, class: "review-box__shop__img"
            .review-box__shop__title
              = @shop.title
          .review-box__nickname
            ニックネーム
          = f.label "評価", class: ""
          = f.number_field :rate, placeholder: '評価', value: 1, max: 10, min: 1, class: "review-box__star"
          10段階評価
          = f.text_area :review, class: "review-box__text", placeholder: "レビューを書いてね！"
          = f.submit '投稿する', class: "review-box__btn"
    .content__z.col-1
    .content__box__right.col-3
      = render 'shops/side-bar'
    .content__box__low.col-12
      top page
= render 'shops/footer'